<p id="notice"><%= notice %></p>

<h1>Instapics</h1>

<!-- <table> -->
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>

    <!-- CSS Reset -->


  <tbody>
    <% @pics.each do |pic| %>
      <tr>
        <table>

        <h2><%= pic.title %></h2>
        <% if pic.photo.present? %>
          <p id="pic-image"><%= image_tag pic.photo.url(:medium) %></p>
        <% end %>
          <h2>Pic posted by: <%= link_to pic.user.username, pic.user%></h2>
        <% if pic.user == current_user %>
          <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
          <td><%= link_to 'Delete', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </table>
      </tr>
    <% end %>
  </tbody>
<!-- </table> -->

<br>

<%= link_to 'New Pic', new_pic_path %>
